
{% extends "layout.html" %}

{% block title %}
    index
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>

        <tfoot>
            <tr>
                <td colspan="4">Cash</td>
                <td>{{ cash_remaining }}</td>
            </tr>
        </tfoot>

        <tbody>
            {% for stock in stocks %}
                <tr>
                    <td>{{ stock['date'] }}</td>
                    <td>{{ stock.name }}</td>
                    <td>{{ stock.total_shares }}</td>
                    <td>{{ quotes[stock.symbol]["price"] | usd }}</td>
                    <td>{{ (quotes[stock.symbol]["price"] * stock.total_shares) | usd }}</td>
                </tr>
            {% endfor %}

        </tbody>
    </table>
{% endblock %}