{% extends "layout.html" %}

{% block title %}
    Watch
{% endblock %}

{% block main %}
    <table class="table table-striped table-sm">

        <thead>
            <tr>
                <th>Date</th>
                <th>Open</th>
                <th>High</th>
                <th>Low</th>
                <th>Close</th>
                <th>UpDown</th>
            </tr>
        </thead>
        <tbody>
            {% for i in rows %}
                {% if i['u_d'] == "upper" %}
                <tr class="table-success">
                    <td class="rows">{{ i['date'] }}</td>
                    <td class="rows">{{ i['open'] | usd }}</td>
                    <td class="rows">{{ i['high'] | usd }}</td>
                    <td class="rows">{{ i['low'] | usd }}</td>
                    <td class="rows">{{ i['close'] | usd }}</td>
                    <td class="rows">{{ i['u_d'] }}</td>
                </tr>
                {% else %}
                <tr class='table-danger'>
                    <td class="rows">{{ i['date'] }}</td>
                    <td class="rows">{{ i['open'] | usd }}</td>
                    <td class="rows">{{ i['high'] | usd }}</td>
                    <td class="rows">{{ i['low'] | usd }}</td>
                    <td class="rows">{{ i['close'] | usd }}</td>
                    <td class="rows">{{ i['u_d'] }}</td>
                </tr>
                {% endif %}
            {% endfor %}

        </tbody>
    </table>
{% endblock %}