{% extends "layout.html" %}

{% block title %}
    Watch
{% endblock %}

{% block main %}
    <table class="table table-striped table-sm">

        <thead>
            <tr>
                <th>Date</th>
                <th>Open</th>
                <th>High</th>
                <th>Low</th>
                <th>Close</th>
                <th>Signals</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
              <tr id='row'>

                <td id="date">{{ row['date'] }}</td>
                {% if row.open < row.close %}
                <td id="open" class='bg-danger'>{{ row['open'] | usd }}</td>
                <td id="high">{{ row['high'] | usd }}</td>
                <td id="low">{{ row['low'] | usd }}</td>
                <td id="close" class='bg-success'>{{ row['close'] | usd }}</td>
                {% elif row.open > row.close %}
                <td id="open" class='bg-success'>{{ row['open'] | usd }}</td>
                <td id="high">{{ row['high'] | usd }}</td>
                <td id="low">{{ row['low'] | usd }}</td>
                <td id="close" class='bg-danger'>{{ row['close'] | usd }}</td>
                {% endif %}
                <td id="signal">{{ row['signal'] }}</td>
              </tr>
            {% endfor %}

        </tbody>
    </table>
{% endblock %}